<div id="title">
	<h1>Palindromes!</h1>
</div>

<div id="section">

<ul>
	<% @palindromes.each do |p| %>
		<li><%= p.word %></li>
	<% end %>

	<%= link_to 'New', new_palindrome_path %>

</div>