// Place all the styles related to the palindromes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #0080FF;
}

#title {
	background-color: #848484;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	padding-bottom: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#section {
	background-color: white;
	color: black;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

