// Place all the styles related to the palindromes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #2A0A12;
}

#title {
	background-color: #0B0B3B;
	color: white;
	font-family: Biondi, Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	width: 80%;
	border: solid 3px white;
}

#section {
	background-color: #A9F5F2;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.75em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: solid 3px white;
}

